WebApi/bin/Debug/netcoreapp3.1/appsettings.Development.json
WebApi/bin/Debug/netcoreapp3.1/appsettings.json
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
WebApi/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
WebApi/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
WebApi/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
WebApi/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
WebApi/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
WebApi/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
WebApi/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
WebApi/bin/Debug/netcoreapp3.1/WebApi.deps.json
WebApi/bin/Debug/netcoreapp3.1/WebApi.dll
WebApi/bin/Debug/netcoreapp3.1/WebApi.exe
WebApi/bin/Debug/netcoreapp3.1/WebApi.pdb
WebApi/bin/Debug/netcoreapp3.1/WebApi.runtimeconfig.dev.json
WebApi/bin/Debug/netcoreapp3.1/WebApi.runtimeconfig.json
WebApi/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
WebApi/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
WebApi/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
WebApi/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
WebApi/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
WebApi/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
WebApi/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
WebApi/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
WebApi/obj/project.assets.json
WebApi/obj/project.nuget.cache
WebApi/obj/WebApi.csproj.nuget.dgspec.json
WebApi/obj/WebApi.csproj.nuget.g.props
WebApi/obj/WebApi.csproj.nuget.g.targets
WebApi/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
WebApi/obj/Debug/netcoreapp3.1/apphost.exe
WebApi/obj/Debug/netcoreapp3.1/WebApi.AssemblyInfo.cs
WebApi/obj/Debug/netcoreapp3.1/WebApi.AssemblyInfoInputs.cache
WebApi/obj/Debug/netcoreapp3.1/WebApi.assets.cache
WebApi/obj/Debug/netcoreapp3.1/WebApi.csproj.CopyComplete
WebApi/obj/Debug/netcoreapp3.1/WebApi.csproj.CoreCompileInputs.cache
WebApi/obj/Debug/netcoreapp3.1/WebApi.csproj.FileListAbsolute.txt
WebApi/obj/Debug/netcoreapp3.1/WebApi.csprojAssemblyReference.cache
WebApi/obj/Debug/netcoreapp3.1/WebApi.dll
WebApi/obj/Debug/netcoreapp3.1/WebApi.genruntimeconfig.cache
WebApi/obj/Debug/netcoreapp3.1/WebApi.MvcApplicationPartsAssemblyInfo.cache
WebApi/obj/Debug/netcoreapp3.1/WebApi.pdb
WebApi/obj/Debug/netcoreapp3.1/WebApi.RazorTargetAssemblyInfo.cache
WebApi/obj/Debug/netcoreapp3.1/staticwebassets/WebApi.StaticWebAssets.Manifest.cache
WebApi/obj/Debug/netcoreapp3.1/staticwebassets/WebApi.StaticWebAssets.xml
